.list{
    list-style-type: none;
    background-color: rgba(211, 206, 226, 0.247);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    color: black;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.287);
    border-radius: 3px;
    padding: 19px;
    overflow: clip; 
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

ul.flexbox{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 200px;
}
.key{
    font-weight: bold
}
.value span{
    overflow: hidden;
    text-overflow: ellipsis; 
flex: 1 auto
}
.list:hover {
    -webkit-transform: translateY(-1.5rem) scale(1.03);
    transform: translateY(-0.8rem) scale(1.03);
}



ul li {
    border-radius: 3px;
    padding: 3px;
    background-color: rgba(75, 78, 75, 0.205) 
}
ul li:hover {
   
    background-color: rgba(233, 96, 33, 0.568) 
}

