.list{
    list-style-type: none;
    background-color: rgba(164, 145, 216, 0.247);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    color: black;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.287);
    border-radius: 3px;
    padding: 19px;
    overflow: clip; 
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap

}
ul.flexbox{
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 200px;
}
.key{
    font-weight: bold
}
.value{
    overflow: hidden;
    text-overflow: ellipsis; 
    flex-grow: 2
}
.list:hover {
    -webkit-transform: translateY(-1.5rem) scale(1.03);
    transform: translateY(-1.5rem) scale(1.03);
}

